<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>NuxeoAngularDartSample</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="nuxeoangulardartsample.css">
  </head>
  <body>


  <div nuxeo-notes class="well span16">
    <div class="span2">
    <h3>Notes</h3>
    <ul>
      <li class="pointer"
          ng-repeat="note in notectrl.notes"
          ng-click="notectrl.selectNote(note)">
        {{note.title}}
      </li>
    </ul>
    </div>
  
    <div class="span6">
    <h3>Current Note</h3>
    <div><strong>Title: </strong>{{notectrl.selectedNote.title}}</div>
    <div><strong>Description: </strong>{{notectrl.getCurrentNoteValue('dc:description')}}</div>
    <div><strong>Content: </strong>
     <div ng-bind-html="notectrl.getCurrentNoteValue('note:note')"></div>    
    </div>
    </div>
    
    <div class="span8">
    <h3>Preview</h3>    
    <iframe width="550px" height="600px" src="{{notectrl.baseUrl}}/restAPI/preview/{{notectrl.selectedNote.repository}}/{{notectrl.selectedNote.uid}}/default/" border="0"></iframe>
    </div>
    
  </div>
  
    <script type="application/dart" src="nuxeoangulardartsample.dart"></script>
    <script src="packages/browser/dart.js"></script>
    
  </body>
</html>
