<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>NuxeoAngularDartSample</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="nuxeoangulardartsample.css">
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
  </head>
  <body>


  <div nuxeo-notes>
    <div class="col-md-2">
    <h3>Notes</h3>
    <div class="list-group">
      <a href="#" class="list-group-item"
          ng-repeat="note in notectrl.notes"
          ng-class="{active: notectrl.isActive(note)}"
          ng-click="notectrl.selectNote(note)">
        {{note.title}}
      </a>
    </div>
    </div>
      
    <div class="col-md-5">
    <h3>Current Note</h3>
    <div><strong>Title: </strong>{{notectrl.selectedNote.title}}</div>
    <div><strong>Description: </strong>{{notectrl.getCurrentNoteValue('dc:description')}}</div>
    <div><strong>Content: </strong><br/>
     <textarea ng-model="notectrl.selectedNoteContent" cols="40" rows="25" style="width:450px"></textarea>    
    </div>
    <br/>
    <button class="btn-primary" ng-click="notectrl.saveCurrentNote()">Save</button>
     
    </div>
    
    <div class="col-md-5">
    <h3>Preview</h3>    
    <iframe width="550px" height="600px" src="{{notectrl.baseUrl}}/restAPI/preview/{{notectrl.selectedNote.repository}}/{{notectrl.selectedNote.uid}}/default/" border="0"  ></iframe>
    </div>
    
  </div>
  
    <script type="application/dart" src="nuxeoangulardartsample.dart"></script>
    <script src="packages/browser/dart.js"></script>
    
    
  </body>
</html>
